<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">{{title}}</span>
      <!--<div class="d-flex">
        //let varName of ArrayName 
        <button *ngFor="let menu of Menus" class="btn mx-2" (click)="MenuClicked(menu)">{{menu}}</button>
        <button class="btn btn-secondary mx-2" *ngIf="userLoggedIn; else LoginButton" (click)="Logout()">Logout</button>
        //<button class="btn btn-secondary" *ngIf="!userLoggedIn" (click)="Login()">Login</button>
      </div>-->
    </div>
</nav>

<!--<ng-template #LoginButton>
    <button class="btn btn-secondary" (click)="Login()">Login</button>
</ng-template>-->







<!-- <input [(ngModel)]="num1" />
<input [(ngModel)]="num2" />
<span *ngIf="num1 > num2">Number 1 is greater</span>
<span *ngIf="num1 < num2">Number 2 is greater</span>
<span *ngIf="num1 === num2">Equal</span>


<br/>
<br/>
<br/>

<input [(ngModel)]="password">
<span *ngIf="password === '123'; else InCorrect">Password is correct</span>


<br/>
<br/>
<br/>



<ng-template #InCorrect>
    <span>Password is Incorrect</span>
</ng-template> -->